@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply md:max-w-[64rem] lg:max-w-[90rem] sm:max-w-[36rem] lg:px-20 md:px-10 sm:px-6 self-center;
    }  
}

@layer base {
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    main {
        overflow-x: hidden;
    }
}

.nav-link {
    @apply text-gray-900 w-fit whitespace-nowrap font-medium text-sm hover:text-ascent transition duration-300 ease-in-out hover:ease-in-out  relative after:content-['_'] after:absolute after:-bottom-3 after:left-1/2 after:h-[2px] after:rounded-full after:w-[0%] after:bg-ascent after:-translate-x-1/2 hover:after:w-[80%] after:transition after:ease-in-out after:duration-300 hover:after:ease-in-out
}

.catalogue-tabs {
    @apply p-2 bg-ascent bg-opacity-5 w-fit rounded-lg space-x-2 mx-auto
}
.catalogue-tabs button {
    @apply bg-ascent-dark bg-opacity-10 py-2 px-4 rounded-md font-medium text-sm lg:min-w-[100px] sm:min-h-fit text-ascent-dark border-none outline-none
}
.catalogue-tabs button.catalogue-tab-active {
    @apply text-white bg-ascent bg-opacity-100
}
.footer-heading {
    @apply font-semibold text-xl text-black
}
.footer-link {
    @apply text-sm text-gray-500 hover:text-ascent transition duration-300 ease-in-out hover:ease-in-out
}

.dashboard-tab {
    @apply bg-ascent border-0 px-5 py-3 rounded-lg font-medium text-sm bg-opacity-10 text-ascent-dark
}
.dashboard-tab.active {
    @apply bg-ascent-dark border-0 px-5 py-3 rounded-lg font-medium text-sm text-white
}

.mobile-sidebar {
    position: fixed;
    top: 0%;
    left: -100%;
    height: 100vh;
    width: 100%;
    z-index: 40;
    transition: 0.3s ease;
}
.mobile-sidebar.active {
    left: 0%;
    transition: 0.3s ease;
}
.mobile-sidebar .sidebar-content {
    @apply absolute left-0 top-0 w-[80%] h-screen bg-white z-40 border-r shadow-xl
}
.mobile-sidebar .sidebar-overlay {
    @apply absolute top-0 left-0 bg-black bg-opacity-30  w-full h-screen z-30
}
.mobile-sidebar .sidebar-overlay {
    opacity: 0;
    transition-delay: 1s;
    transition: 0s ease;
}
.mobile-sidebar.active .sidebar-overlay {
    opacity: 1;
    transition-delay: 1s;
    transition: 1.5s ease;
}
.mobile-sidebar-toggler {
    @apply relative flex items-center justify-center h-[30px] w-[30px]
}
.mobile-sidebar-toggler div {
    @apply h-[4px] w-[30px] bg-gray-700 rounded-sm absolute right-0
}
.mobile-sidebar-toggler div:nth-child(1) {
    top: 3px;
    transition: 0.3s ease;
}
.mobile-sidebar-toggler div:nth-child(2) {
    left: 0px;
    opacity: 1;
    transition: 0.3s ease;
}
.mobile-sidebar-toggler div:nth-child(3) {
    bottom: 3px;
    transition: 0.3s ease;
}
.mobile-sidebar-toggler.active div:nth-child(1) {
    rotate: 45deg;
    top: 13px;
    transition: 0.3s ease;
}
.mobile-sidebar-toggler.active div:nth-child(2) {
    left: -30px;
    opacity: 0;
    transition: 0.3s ease;
}
.mobile-sidebar-toggler.active div:nth-child(3) {
    rotate: -45deg;
    bottom: 13px;
    transition: 0.3s ease;
}